# Ingest SEC DERA data into Trino pipeline

Copyright (C) 2021 OS-Climate

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Contributed by Michael Tiemann (Github: MichaelTiemannOSC)

Run these in a notebook cell if you need to install onto your nb env

```python
# 'capture' magic prevents long outputs from spamming your notebook
%%capture pipoutput

# For loading predefined environment variables from files
# Typically used to load sensitive access credentials
%pip install python-dotenv

# Standard python package for interacting with S3 buckets
%pip install boto3

# Interacting with Trino and using Trino with sqlalchemy
%pip install trino sqlalchemy sqlalchemy-trino

# Pandas and parquet file i/o
%pip install pandas pyarrow fastparquet

# OS-Climate utilities to make data ingest easier
%pip install osc-ingest-tools
```

In [1]:
from dotenv import dotenv_values, load_dotenv
from osc_ingest_trino import *
import os
import pathlib

Load Environment Variables

In [2]:
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [3]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

In [4]:
from osc_ingest_trino import *

trino_bucket = attach_s3_bucket("S3_DEV")

In [5]:
import boto3

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

Open a Trino connection using JWT for authentication

In [6]:
ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'sec_dera'

In [7]:
# Show available schemas to ensure trino connection is set correctly
schema_read = engine.execute(f'show schemas in {ingest_catalog}')
for row in schema_read.fetchall():
    print(row)

('aicoe_osc_demo',)
('company_data',)
('default',)
('defaultschema1',)
('demo',)
('eje_test_iceberg',)
('epa_frs',)
('epa_ghgrp',)
('epacems',)
('epacems_y95_al',)
('essd',)
('ghgrp_demo',)
('gleif',)
('gleif_mdt',)
('iceberg_demo',)
('information_schema',)
('ingest_schema',)
('metastore',)
('metastore_iceberg',)
('osc_corp_data',)
('physical_risk_project',)
('pudl',)
('rmi_20210929',)
('rmi_20211120',)
('rmi_utility_transition_hub',)
('sec_dera',)
('sfi_geoasset',)
('team1',)
('team2',)
('testaccessschema1',)
('testdb',)
('urgentem',)
('us_census',)
('wri',)
('wri_demo',)
('wri_dev',)
('wri_gppd',)
('wri_gppd_md',)
('wri_new',)
('wri_test',)

Enter the Pandas!

In [8]:
import pandas as pd
import io

Drop previous tables and schema to start with a fresh slate

In [9]:
for view in [ 'assets_by_adsh_ddate', 'assets_by_lei',
               'cash_by_adsh_ddate', 'cash_by_lei',
               'debt_by_adsh_ddate', 'debt_by_lei',
               'financials_by_lei',
               'float_by_adsh_ddate', 'float_by_lei',
               'fy_revenue_by_lei']:
    sql = f"""
drop view if exists {ingest_catalog}.{ingest_schema}.{view}
"""
    # print(sql)
    qres = engine.execute(sql)
    print(qres.fetchall())

for ingest_table in [ 'sub', 'num', 'tag', 'ticker',
                      't_a', 't_c', 't_d', 't_f', 't_r']:
    sql = f"""
drop table if exists {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
    # print(sql)
    qres = engine.execute(sql)
    print(qres.fetchall())

qres = engine.execute(f"show tables in {ingest_schema}")
print(qres.fetchall())

sql = f"""
drop schema if exists {ingest_catalog}.{ingest_schema}
"""
print(sql)
qres = engine.execute(sql)
print(qres.fetchall())

[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[(True,)]
[]

drop schema if exists osc_datacommons_dev.sec_dera

[(True,)]

In [10]:
# make sure schema exists, or table creation below will fail in weird ways
sql = f"""
create schema {ingest_catalog}.{ingest_schema}
"""
print(sql)
qres = engine.execute(sql)
print(qres.fetchall())

create schema osc_datacommons_dev.sec_dera

[(True,)]

Load `ticker` file (updated sporadically from https://www.sec.gov/include/ticker.txt)

In [11]:
ticker_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'SEC-DERA/ticker.txt')
ticker_file.download_file(f'/tmp/dera-ticker.txt')
ticker_df = pd.read_csv(f'/tmp/dera-ticker.txt', names=['tname', 'cik'], header=None, sep='\t', dtype={'tname':'string','cik':'int64'}, engine='c')
ticker_dict = dict(zip(ticker_df.cik, ticker_df.tname))

In [12]:
ticker_df

         tname      cik
0         aapl   320193
1         msft   789019
2         goog  1652044
3         amzn  1018724
4         tsla  1318605
...        ...      ...
12416    afacu  1849489
12417    afaqw  1841661
12418     aesc   874761
12419    aesew  1708341
12420  aeva-wt  1789029

[12421 rows x 2 columns]

In [13]:
buf = io.BytesIO()
ticker_df.to_parquet(path=buf)
buf.seek(0)
trino_bucket.upload_fileobj(Fileobj=buf,
                      Key=f'trino/{ingest_schema}/ticker/data.parquet')

sql = f"""
drop table if exists {ingest_catalog}.{ingest_schema}.ticker;
create table {ingest_catalog}.{ingest_schema}.ticker(
    cik bigint,
    tname varchar
) with (
    format = 'parquet',
    external_location = 's3a://{trino_bucket.name}/trino/{ingest_schema}/ticker/'
);
select count (*) from {ingest_catalog}.{ingest_schema}.ticker;
select * from {ingest_catalog}.{ingest_schema}.ticker limit 10
"""
for sql_stmt in sql.split(';'):
    print(sql_stmt)
    qres = engine.execute(sql_stmt)
    print(qres.fetchall())

drop table if exists osc_datacommons_dev.sec_dera.ticker
[(True,)]

create table osc_datacommons_dev.sec_dera.ticker(
    cik bigint,
    tname varchar
) with (
    format = 'parquet',
    external_location = 's3a://ocp-odh-os-demo-s3/trino/sec_dera/ticker/'
)
[(True,)]

select count (*) from osc_datacommons_dev.sec_dera.ticker
[(12421,)]

select * from osc_datacommons_dev.sec_dera.ticker limit 10

[(320193, 'aapl'), (789019, 'msft'), (1652044, 'goog'), (1018724, 'amzn'), (1318605, 'tsla'), (1326801, 'fb'), (40545, 'ge'), (1067983, 'brk-a'), (1046179, 'tsm'), (1293451, 'tcehy')]

Prepare GLEIF matching data

In [14]:
gleif_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'mtiemann-GLEIF/DERA-matches.csv')
gleif_file.download_file(f'/tmp/dera-gleif.csv')
gleif_df = pd.read_csv(f'/tmp/dera-gleif.csv', header=0, sep=',', dtype=str, engine='c')
gleif_dict = dict(zip(gleif_df.name, gleif_df.LEI))

Load the SUB, NUM, and TAG tables into Trino

import io
import zipfile
import pandas as pd

rmi_20211120_b = io.BytesIO(source_bucket.Object('RMI/RMI-20211120.zip').get()['Body'].read())
rmi_20211120_zip = zipfile.ZipFile(rmi_20211120_b, mode='r')
del(rmi_20211120_b)
# display(zipfile.ZipFile(rmi_20211120_zip, mode='r').filelist)
rmi_dd = rmi_20211120_zip.read('data_dictionary.xlsx')

# Read all the sheets.  rmi_excel['sheet_name'] gives a specific sheet
rmi_20211120_xls = pd.read_excel(rmi_dd, sheet_name=None, dtype=str)

del(rmi_dd)

from io import BytesIO
import datetime

# The dataframe for Non-Null data
df_nn = None

rmi_ingest_schemas = { 'rmi_20210929': ('September 2021', rmi_20210929_xls, rmi_20210929_zip),
                       'rmi_20211120': ('November 2021', rmi_20211120_xls, rmi_20211120_zip) }

# There is no datafile behind the data dictionary.  Run this to prime overview_dd, which all other metadata-finding depends upon
for schemaname, (release_date, workbook, zipfile) in rmi_ingest_schemas.items():
    overview_meta_fields, overview_meta_content = generate_sheet_meta(workbook, 'Overview', release_date)

    for zipinfo in zipfile.infolist():
        fname = zipinfo.filename
        ftimestamp = datetime.datetime(*zipinfo.date_time)
        if fname[-4:] != '.csv':
            continue
        
        tablename = fname.split('/')[-1].split('.')[0]
        # For as-yet unexplained reasons, RMI renamed the file assets_earnings_investments.csv
        # without updating the name of the sheet in the spreadsheet.  We switch to the intended name here
        if tablename == 'assets_earnings':
            tablename = 'assets_earnings_investments'

        print(fname)
        ## EXAMPLES OF TABLE-SPECIFIC READING FOLLOWS
        with zipfile.open(fname) as zf:
            if tablename=='state_utility_policies':
                df = pd.read_csv(zf, dtype={'respondent_id':'int32'},parse_dates=['date_updated'],dayfirst=True, engine='c')
            elif tablename.startswith('utility'):
                df = pd.read_csv(zf, dtype=dtype_dict[tablename], engine='c')
            elif tablename=='state_targets':
                df = pd.read_csv(zf, dtype=dtype_dict[tablename], engine='c')
                df.year.fillna('-1', inplace=True)
                df.loc[df.year.isin(['Annual','2005/1990']), 'year'] = '-1'
                df.year = pd.to_datetime(df.year.map(lambda x: x.split('.')[0]).astype('int32'), format='%Y', errors='coerce')
            else:
                df = pd.read_csv(zf, dtype=dtype_dict[tablename], thousands=',', engine='c')
                if 'year' in df.columns:
                    df.year.fillna('-1', inplace=True)
                    df.year = pd.to_datetime(df.year.map(lambda x: x.split('.')[0]).astype('int32'), format='%Y', errors='coerce')
                df.info(verbose=True)
        ## TABLE-SPECIFIC PROCESSING REPLACES THIS COMMENT
        create_trino_pipeline (s3_trino, schemaname, tablename, ftimestamp, df, custom_meta_fields, custom_meta_content)
    zipfile.close()

print('Done!')

In [15]:
import re
import uuid

# Add a unique identifier to the data set
uid = str(uuid.uuid4())

dera_regex = re.compile(r' ?/.*$')

def ingest_dera_table(zf, fy_qtr, tbl, ftimestamp):
    """From a local file ZF, read data for the period FY_QTR for the DERA table TBL.
    Return the Dataframe created so that when it is time to create the actual Trino table
    we know what the shape of the data should look like.  The returned DF has all the data
    of the specific ingestion, not all the data of all the ingestions of data for TBL."""
    df = pd.read_csv(zf, header=0, sep='\t', dtype='string', keep_default_na=False, nrows = None, engine='c')
    df['srcdir'] = fy_qtr
    df.srcdir = df.srcdir.astype('string')
    df['uuid'] = uid
    df.uuid = df.uuid.astype('string')
    
    # df = df.convert_dtypes (infer_objects=False, convert_string=True, convert_integer=False, convert_boolean=False, convert_floating=False)
    # Print the output
    # print(df.dtypes)
    
    if tbl=='sub':
        df.name = df.name.map(lambda x: re.sub(dera_regex, '', x))
        df.name = df.name.astype('string')
        df['LEI'] = df.name.map(gleif_dict)
        df.LEI = df.LEI.astype('string')
        df.cik = df.cik.astype('int32')
        df.loc[df.sic=='', 'sic'] = pd.NA
        df.sic = df.sic.astype('Int16')
        df.loc[df.ein=='', 'ein'] = pd.NA
        df.ein = df.ein.astype('Int64')
        df.wksi = df.wksi.astype('bool')
        # df.wksi = df.wksi.astype('int32')
        df.period = pd.to_datetime(df.period, format='%Y%m%d', utc=True, errors='coerce')
        df.fy = pd.to_datetime(df.fy, format='%Y', utc=True, errors='coerce')
        df.filed = pd.to_datetime(df.filed, format='%Y%m%d', utc=True)
        df.accepted = pd.to_datetime(df.accepted, format='%Y-%m-%d %H:%M:%S', utc=True)
        df.prevrpt = df.prevrpt.astype('bool')
        df.detail = df.detail.astype('bool')
        df.nciks = df.nciks.astype('int16')
        
        cols = df.columns.tolist()
        # Move LEI to a more friendly location in the column order
        cols = cols[0:3] + [cols[-1]] + cols[3:-1]
        df = df[cols]
    elif tbl=='num':
        # documentation wrongly lists coreg as NUMERIC length 256.  It is ALPHANUMERIC.
        df.loc[df.ddate=='30210630', 'ddate'] = '20210630'
        df.ddate = pd.to_datetime(df.ddate, format='%Y%m%d', utc=True)
        df.qtrs = df.qtrs.astype('int16')
        df.loc[df.coreg=='', 'coreg'] = pd.NA
        df.loc[df.value=='', 'value'] = pd.NA
        df.value = df.value.astype('Float64')
        df.loc[df.footnote=='', 'footnote'] = pd.NA
    elif tbl=='tag':
        df.custom = df.custom.astype('bool')
        df.abstract = df.abstract.astype('bool')
        df.loc[df.crdr=='', 'crdr'] = pd.NA
        df.loc[df.tlabel=='', 'tlabel'] = pd.NA
        df.loc[df.doc=='', 'doc'] = pd.NA
    # print(df.dtypes)
    # display(df.head())

    buf = io.BytesIO()
    df.to_parquet(path=buf)
    buf.seek(0)
    trino_bucket.upload_fileobj(Fileobj=buf,
                                Key=f'trino/{ingest_schema}/{tbl}/{fy_qtr}.parquet')
    return df

In [16]:
import io
import zipfile
import datetime

objects=source_bucket.objects.filter(Prefix='SEC-DERA/20')

dera_tables = ['sub', 'num', 'tag']
dera_df = {}

for obj in objects:
    if obj.key.endswith('.zip'):
        zipfile_src = s3_source.Object(os.environ['S3_LANDING_BUCKET'],obj.key)
        tmpname = obj.key.split('/')[-1]
        zipfile_src.download_file(f'/tmp/{tmpname}')
        zipfile_obj = zipfile.ZipFile(f'/tmp/{tmpname}', mode='r')
        fy_qtr = tmpname.split('.')[0]
        for zipinfo in zipfile_obj.infolist():
            fname = zipinfo.filename
            if fname[3:] != '.txt':
                continue
            tbl = fname[:3]
            if tbl not in dera_tables:
                continue
            ftimestamp = datetime.datetime(*zipinfo.date_time)
            print(f'{fy_qtr} - {tbl}')
            with zipfile_obj.open(fname) as zf:
                # This fills a directory with parquet files
                dera_df[tbl] = ingest_dera_table (zf, fy_qtr, tbl, ftimestamp)
        zipfile_obj.close()

# Once we have all our parquet files in place, load up the tables with their directory contents
for tbl in dera_tables:
    if tbl not in dera_df:
        error(f'{tbl} data not found')
    table_check = engine.execute(f'drop table if exists {ingest_catalog}.{ingest_schema}.{tbl}')
    for row in table_check.fetchall():
        print(row)

    columnschema = create_table_schema_pairs(dera_df[tbl], typemap={'int16':'smallint', 'Int16':'smallint'})
    tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{tbl} (
{columnschema}
) with (
format = 'parquet',
external_location = 's3a://{trino_bucket.name}/trino/{ingest_schema}/{tbl}/'
)
"""
    print(tabledef)

    table_create = engine.execute(tabledef)
    for row in table_create.fetchall():
        print(row)

    dataset_query = (f'SELECT * FROM {ingest_catalog}.{ingest_schema}.{tbl} limit 10')
    print(dataset_query)
    dataset = engine.execute(dataset_query)
    for row in dataset.fetchall():
        print(row)

2020q1 - sub
2020q1 - tag
2020q1 - num
2020q2 - sub
2020q2 - tag
2020q2 - num
2020q3 - sub
2020q3 - tag
2020q3 - num
2020q4 - sub
2020q4 - tag
2020q4 - num
2021q1 - sub
2021q1 - tag
2021q1 - num
2021q2 - sub
2021q2 - tag
2021q2 - num
2021q3 - sub
2021q3 - tag
2021q3 - num
(True,)

create table if not exists osc_datacommons_dev.sec_dera.sub (
    adsh varchar,
    cik integer,
    name varchar,
    LEI varchar,
    sic smallint,
    countryba varchar,
    stprba varchar,
    cityba varchar,
    zipba varchar,
    bas1 varchar,
    bas2 varchar,
    baph varchar,
    countryma varchar,
    stprma varchar,
    cityma varchar,
    zipma varchar,
    mas1 varchar,
    mas2 varchar,
    countryinc varchar,
    stprinc varchar,
    ein bigint,
    former varchar,
    changed varchar,
    afs varchar,
    wksi boolean,
    fye varchar,
    form varchar,
    period timestamp,
    fy timestamp,
    fp varchar,
    filed timestamp,
    accepted timestamp,
    prevrpt boolean,
    detail boolean,
    instance varchar,
    nciks smallint,
    aciks varchar,
    srcdir varchar,
    uuid varchar
) with (
format = 'parquet',
external_location = 's3a://ocp-odh-os-demo-s3/trino/sec_dera/sub/'
)

(True,)
SELECT * FROM osc_datacommons_dev.sec_dera.sub limit 10
('0000002178-21-000005', 2178, 'ADAMS RESOURCES & ENERGY, INC.', 'UP28TXL7K8XSRNNC7V02', 5172, 'US', 'TX', 'HOUSTON', '77027', '17 S. BRIAR HOLLOW LN.', '', '713-881-3600', 'US', 'TX', 'HOUSTON', '77001', 'P O BOX 844', '', 'US', 'DE', 741753147, 'ADAMS RESOURCES & ENERGY INC', '19920703', '2-ACC', True, '1231', '8-K', '2021-02-28 00:00:00.000', None, '', '2021-02-19 00:00:00.000', '2021-02-19 07:10:00.000', True, True, 'ae-20210219_htm.xml', 1, '', '2021q1', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0000002178-21-000031', 2178, 'ADAMS RESOURCES & ENERGY, INC.', 'UP28TXL7K8XSRNNC7V02', 5172, 'US', 'TX', 'HOUSTON', '77027', '17 S. BRIAR HOLLOW LN.', '', '713-881-3600', 'US', 'TX', 'HOUSTON', '77001', 'P O BOX 844', '', 'US', 'DE', 741753147, 'ADAMS RESOURCES & ENERGY INC', '19920703', '2-ACC', True, '1231', '8-K', '2021-02-28 00:00:00.000', None, '', '2021-03-04 00:00:00.000', '2021-03-04 16:05:00.000', True, True, 'ae-20210304_htm.xml', 1, '', '2021q1', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0000002178-21-000034', 2178, 'ADAMS RESOURCES & ENERGY, INC.', 'UP28TXL7K8XSRNNC7V02', 5172, 'US', 'TX', 'HOUSTON', '77027', '17 S. BRIAR HOLLOW LN.', '', '713-881-3600', 'US', 'TX', 'HOUSTON', '77001', 'P O BOX 844', '', 'US', 'DE', 741753147, 'ADAMS RESOURCES & ENERGY INC', '19920703', '4-NON', True, '1231', '10-K', '2020-12-31 00:00:00.000', '2020-01-01 00:00:00.000', 'FY', '2021-03-05 00:00:00.000', '2021-03-05 15:08:00.000', True, True, 'ae-20201231_htm.xml', 1, '', '2021q1', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0000002488-21-000002', 2488, 'ADVANCED MICRO DEVICES INC', 'R2I72C950HOYXII45366', 3674, 'US', 'CA', 'SANTA CLARA', '95054', '2485 AUGUSTINE DRIVE', '', '(408) 749-4000', 'US', 'CA', 'SANTA CLARA', '95054', '2485 AUGUSTINE DRIVE', '', 'US', 'DE', 941692300, '', '', '1-LAF', True, '1231', '8-K', '2020-12-31 00:00:00.000', None, '', '2021-01-06 00:00:00.000', '2021-01-06 16:27:00.000', True, True, 'amd-20201231_htm.xml', 1, '', '2021q1', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0000002488-21-000005', 2488, 'ADVANCED MICRO DEVICES INC', 'R2I72C950HOYXII45366', 3674, 'US', 'CA', 'SANTA CLARA', '95054', '2485 AUGUSTINE DRIVE', '', '(408) 749-4000', 'US', 'CA', 'SANTA CLARA', '95054', '2485 AUGUSTINE DRIVE', '', 'US', 'DE', 941692300, '', '', '1-LAF', True, '1231', '8-K', '2020-12-31 00:00:00.000', None, '', '2021-01-12 00:00:00.000', '2021-01-12 16:27:00.000', True, True, 'amd-20210111_htm.xml', 1, '', '2021q1', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0000002488-21-000009', 2488, 'ADVANCED MICRO DEVICES INC', 'R2I72C950HOYXII45366', 3674, 'US', 'CA', 'SANTA CLARA', '95054', '2485 AUGUSTINE DRIVE', '', '(408) 749-4000', 'US', 'CA', 'SANTA CLARA', '95054', '2485 AUGUSTINE DRIVE', '', 'US', 'DE', 941692300, '', '', '1-LAF', True, '1231', '8-K', '2021-01-31 00:00:00.000', None, '', '2021-01-26 00:00:00.000', '2021-01-26 16:15:00.000', True, True, 'amd-20210126_htm.xml', 1, '', '2021q1', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0000002488-21-000033', 2488, 'ADVANCED MICRO DEVICES INC', 'R2I72C950HOYXII45366', 3674, 'US', 'CA', 'SANTA CLARA', '95054', '2485 AUGUSTINE DRIVE', '', '(408) 749-4000', 'US', 'CA', 'SANTA CLARA', '95054', '2485 AUGUSTINE DRIVE', '', 'US', 'DE', 941692300, '', '', '1-LAF', True, '1231', '8-K', '2021-02-28 00:00:00.000', None, '', '2021-02-22 00:00:00.000', '2021-02-22 16:23:00.000', True, True, 'amd-20210216_htm.xml', 1, '', '2021q1', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0000002969-21-000010', 2969, 'AIR PRODUCTS & CHEMICALS INC', '7QEON6Y1RL5XR3R1W237', 2810, 'US', 'PA', 'ALLENTOWN', '18195-1501', '7201 HAMILTON BLVD', '', '6104814911', 'US', 'PA', 'ALLENTOWN', '18195-1501', '7201 HAMILTON BLVD', '', 'US', 'DE', 231274455, '', '', '1-LAF', True, '0930', '8-K', '2021-01-31 00:00:00.000', None, '', '2021-02-04 00:00:00.000', '2021-02-04 08:04:00.000', True, True, 'apd-20210204_htm.xml', 1, '', '2021q1', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0000002969-21-000012', 2969, 'AIR PRODUCTS & CHEMICALS INC', '7QEON6Y1RL5XR3R1W237', 2810, 'US', 'PA', 'ALLENTOWN', '18195-1501', '7201 HAMILTON BLVD', '', '6104814911', 'US', 'PA', 'ALLENTOWN', '18195-1501', '7201 HAMILTON BLVD', '', 'US', 'DE', 231274455, '', '', '1-LAF', True, '0930', '10-Q', '2020-12-31 00:00:00.000', '2021-01-01 00:00:00.000', 'Q1', '2021-02-04 00:00:00.000', '2021-02-04 11:43:00.000', True, True, 'apd-20201231_htm.xml', 1, '', '2021q1', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0000003499-21-000005', 3499, 'ALEXANDERS INC', '549300TZM28P04U5R635', 6798, 'US', 'NJ', 'PARAMUS', '07652', '210 ROUTE 4 EAST', '', '201-587-8541', 'US', 'NJ', 'PARAMUS', '07652', '210 ROUTE 4 EAST', '', 'US', 'DE', 510100517, '', '', '2-ACC', True, '1231', '10-K', '2020-12-31 00:00:00.000', '2020-01-01 00:00:00.000', 'FY', '2021-02-16 00:00:00.000', '2021-02-16 08:14:00.000', True, True, 'alx-20201231_htm.xml', 1, '', '2021q1', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
(True,)

create table if not exists osc_datacommons_dev.sec_dera.num (
    adsh varchar,
    tag varchar,
    version varchar,
    coreg varchar,
    ddate timestamp,
    qtrs smallint,
    uom varchar,
    value double,
    footnote varchar,
    srcdir varchar,
    uuid varchar
) with (
format = 'parquet',
external_location = 's3a://ocp-odh-os-demo-s3/trino/sec_dera/num/'
)

(True,)
SELECT * FROM osc_datacommons_dev.sec_dera.num limit 10
('0001640334-21-000798', 'AccountsPayableAndAccruedLiabilitiesCurrent', 'us-gaap/2019', None, '2021-01-31 00:00:00.000', 0, 'USD', 10010.0, None, '2021q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0001640334-21-000798', 'AccountsPayableAndAccruedLiabilitiesCurrent', 'us-gaap/2019', None, '2020-10-31 00:00:00.000', 0, 'USD', 10913.0, None, '2021q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0001477932-21-002126', 'AccountsPayableAndAccruedLiabilitiesCurrent', 'us-gaap/2019', None, '2020-12-31 00:00:00.000', 0, 'USD', 2372072.0, None, '2021q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0001477932-21-002126', 'AccountsPayableAndAccruedLiabilitiesCurrent', 'us-gaap/2019', None, '2019-12-31 00:00:00.000', 0, 'USD', 1018145.0, None, '2021q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0001640334-21-000810', 'AccountsPayableAndAccruedLiabilitiesCurrent', 'us-gaap/2019', None, '2021-02-28 00:00:00.000', 0, 'USD', 2974.0, None, '2021q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0001640334-21-000810', 'AccountsPayableAndAccruedLiabilitiesCurrent', 'us-gaap/2019', None, '2020-05-31 00:00:00.000', 0, 'USD', 4225.0, None, '2021q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0001477932-21-002140', 'AccountsPayableAndAccruedLiabilitiesCurrent', 'us-gaap/2019', None, '2019-12-31 00:00:00.000', 0, 'USD', 1039000.0, None, '2021q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0001477932-21-002140', 'AccountsPayableAndAccruedLiabilitiesCurrent', 'us-gaap/2019', None, '2020-12-31 00:00:00.000', 0, 'USD', 1513000.0, None, '2021q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0001477932-21-002141', 'AccountsPayableAndAccruedLiabilitiesCurrent', 'us-gaap/2019', None, '2019-09-30 00:00:00.000', 0, 'USD', 315775.0, None, '2021q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('0001477932-21-002141', 'AccountsPayableAndAccruedLiabilitiesCurrent', 'us-gaap/2019', None, '2020-03-31 00:00:00.000', 0, 'USD', 617952.0, None, '2021q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
(True,)

create table if not exists osc_datacommons_dev.sec_dera.tag (
    tag varchar,
    version varchar,
    custom boolean,
    abstract boolean,
    datatype varchar,
    iord varchar,
    crdr varchar,
    tlabel varchar,
    doc varchar,
    srcdir varchar,
    uuid varchar
) with (
format = 'parquet',
external_location = 's3a://ocp-odh-os-demo-s3/trino/sec_dera/tag/'
)

(True,)
SELECT * FROM osc_datacommons_dev.sec_dera.tag limit 10
('AE', 'country/2017', True, True, 'member', '', None, 'UNITED ARAB EMIRATES', None, '2020q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('AR', 'country/2017', True, True, 'member', '', None, 'ARGENTINA', None, '2020q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('AU', 'country/2017', True, True, 'member', '', None, 'AUSTRALIA', None, '2020q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('BR', 'country/2017', True, True, 'member', '', None, 'BRAZIL', None, '2020q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('BW', 'country/2017', True, True, 'member', '', None, 'BOTSWANA', None, '2020q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('CA', 'country/2017', True, True, 'member', '', None, 'CANADA', None, '2020q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('CH', 'country/2017', True, True, 'member', '', None, 'SWITZERLAND', None, '2020q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('CL', 'country/2017', True, True, 'member', '', None, 'CHILE', None, '2020q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('CM', 'country/2017', True, True, 'member', '', None, 'CAMEROON', None, '2020q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')
('CN', 'country/2017', True, True, 'member', '', None, 'CHINA', None, '2020q2', '4d138708-45bb-4a34-a647-a67cb7a86c8c')

In [17]:
# Borrow metadata code from DERA-iceberg if/when we need it

In [18]:
tablenames = ['sub', 'num', 'tag', 'ticker']
l = []
for tbl in tablenames:
    qres = engine.execute(f'select count (*) from {ingest_catalog}.{ingest_schema}.{tbl}')
    l.append(qres.fetchall()[0])
print(list(zip(tablenames, l)))

[('sub', (119563,)), ('num', (18053842,)), ('tag', (705825,)), ('ticker', (12421,))]

In [26]:
qres = engine.execute("""
select count (*), tag, uom, min(value) as minval, max(value) as maxval from sec_dera.num where tag like '%ExchangeRate%' and uom like '%/%' group by tag, uom order by count (*) desc
""")
display(qres.fetchall())

[(56, 'ForeignCurrencyExchangeRateTranslation1', 'USD/CNY', 0.1415, 6.9762),
 (44, 'ForeignCurrencyExchangeRateTranslation1', 'CNY/USD', 0.0, 7.1383),
 (43, 'AverageForeignExchangeRate', 'USD/EUR', 0.8455, 1.2271),
 (43, 'ForeignCurrencyExchangeRateTranslation1', 'USD/GBP', 0.71, 1.4),
 (42, 'ClosingForeignExchangeRate', 'USD/GBP', 0.72, 1.3836),
 (38, 'ClosingForeignExchangeRate', 'USD/EUR', 0.8141, 1.2271),
 (35, 'AverageForeignExchangeRate', 'USD/GBP', 0.72, 1.3913),
 (33, 'ForeignCurrencyExchangeRateTranslation1', 'USD/EUR', 1.1, 1.23),
 (27, 'AverageForeignExchangeRate', 'EUR/USD', 1.1191, 1.2),
 (26, 'ClosingForeignExchangeRate', 'MXN/USD', 18.8452, 24.623),
 (24, 'ClosingForeignExchangeRate', 'EUR/USD', 1.1029, 1.2321),
 (22, 'AverageForeignExchangeRate', 'BRL/EUR', 3.605, 6.4902),
 (20, 'AverageForeignExchangeRate', 'GBP/EUR', 0.874, 0.89),
 (19, 'ForeignCurrencyExchangeRateTranslation1', 'USD/CAD', 0.71, 1.3639),
 (19, 'ClosingForeignExchangeRate', 'BRL/EUR', 3.9693, 6.3779),
 (18, 'AverageForeignCurrencyExchangeRateTranslation', 'KRW/JPY', 9.89, 11.17),
 (18, 'AverageForeignCurrencyExchangeRateTranslation', 'KRW/USD', 1075.4, 1416.01),
 (17, 'ClosingForeignExchangeRate', 'GBP/EUR', 0.8508, 0.912),
 (17, 'AverageForeignExchangeRate', 'BRL/USD', 3.1925, 5.3862),
 (15, 'ClosingForeignExchangeRate', 'EUR/GBP', 0.85, 1.1651),
 (15, 'ForeignCurrencyTranslationWeightedAverageExchangeRate', 'CNY/USD', 0.1421, 7.0841),
 (14, 'ClosingForeignExchangeRate', 'USD/SGD', 0.7344, 1.44),
 (14, 'AverageForeignExchangeRate', 'CNY/EUR', 7.629, 7.875),
 (14, 'AverageForeignExchangeRate', 'BRL/CAD', 2.4618, 4.3209),
 (14, 'AverageForeignExchangeRate', 'CHF/EUR', 1.064, 1.155),
 (14, 'ForeignCurrencyExchangeRateTranslation1', 'KRW/JPY', 10.13, 11.31),
 (14, 'ForeignCurrencyExchangeRateTranslation1', 'KRW/USD', 1088.0, 1222.6),
 (14, 'AverageForeignExchangeRate', 'CAD/EUR', 1.4644, 1.5302),
 (13, 'ClosingForeignExchangeRate', 'BRL/USD', 3.308, 5.476),
 (13, 'AverageForeignExchangeRate', 'USD/SGD', 0.7244, 1.4),
 (13, 'ClosingForeignExchangeRate', 'CHF/EUR', 1.065, 1.17),
 (13, 'ClosingForeignExchangeRate', 'CAD/EUR', 1.4598, 1.5633),
 (13, 'ClosingForeignExchangeRate', 'CNY/EUR', 7.804, 8.023),
 (13, 'ForeignCurrencyExchangeRateTranslation1', 'XAF/USD', 534.8, 593.1),
 (12, 'ClosingForeignExchangeRate', 'CAD/USD', 0.73, 1.3),
 (12, 'AverageForeignExchangeRate', 'EUR/GBP', 0.88, 1.1391),
 (12, 'ClosingForeignExchangeRate', 'USD/CNY', 0.15, 7.07),
 (12, 'AverageForeignExchangeRate', 'GBP/USD', 1.2755, 1.3374),
 (12, 'ForeignCurrencyExchangeRateTranslation1', 'GBP/USD', 1.27, 1.9613),
 (12, 'ClosingForeignExchangeRate', 'GBP/USD', 1.28, 1.37),
 (11, 'ClosingForeignExchangeRate', 'USD/VND', 22708.16, 23206.0),
 (11, 'ClosingForeignExchangeRate', 'USD/HKD', 7.75, 7.83),
 (11, 'ClosingForeignExchangeRate', 'USD/IDR', 13471.96, 14500.0),
 (11, 'ClosingForeignExchangeRate', 'USD/THB', 29.75, 35.81),
 (11, 'ClosingForeignExchangeRate', 'USD/MYR', 4.02, 4.49),
 (11, 'AverageForeignExchangeRate', 'USD/CNY', 0.14, 7.03),
 (11, 'ForeignCurrencyExchangeRateTranslation1', 'EUR/USD', 0.8403, 1.228),
 (10, 'AverageForeignExchangeRate', 'USD/INR', 0.01, 74.16),
 (10, 'AverageForeignExchangeRate', 'USD/VND', 22716.82, 23303.21),
 (10, 'AverageForeignExchangeRate', 'USD/THB', 30.83, 33.91),
 (10, 'ClosingForeignExchangeRate', 'BRL/CAD', 2.6344, 4.0771),
 (10, 'AverageForeignExchangeRate', 'USD/IDR', 13383.03, 14574.24),
 (10, 'AverageForeignExchangeRate', 'USD/MYR', 4.03, 4.3),
 (10, 'ClosingForeignExchangeRate', 'USD/INR', 0.01, 74.33),
 (10, 'AverageForeignExchangeRate', 'USD/HKD', 7.76, 7.84),
 (9, 'AverageForeignExchangeRate', 'USD/ILS', 0.26, 0.29),
 (9, 'ForeignCurrencyExchangeRateTranslation1', 'HKD/USD', 0.1274, 7.8),
 (9, 'ClosingForeignExchangeRate', 'USD/ILS', 0.2665, 0.29),
 (9, 'AverageForeignExchangeRate', 'ARS/USD', 18.6, 84.07),
 (9, 'AverageForeignExchangeRate', 'INR/EUR', 73.5324, 84.6392),
 (9, 'ClosingForeignExchangeRate', 'MXN/EUR', 21.22, 25.947),
 (9, 'ClosingForeignExchangeRate', 'PLN/EUR', 4.177, 4.56),
 (9, 'ClosingForeignExchangeRate', 'ARS/EUR', 22.595, 103.043),
 (9, 'ForeignCurrencyExchangeRateRemeasurement1', 'MXN/USD', 18.91, 23.93),
 (8, 'ClosingForeignExchangeRate', 'USD/CAD', 0.73, 1.36),
 (8, 'AverageForeignExchangeRate', 'MXN/EUR', 21.329, 24.519),
 (8, 'AverageForeignExchangeRate', 'PLN/EUR', 4.257, 4.443),
 (8, 'AverageForeignExchangeRate', 'USD/CAD', 0.74, 1.33),
 (7, 'ClosingForeignExchangeRate', 'CLP/USD', 614.75, 66947.0),
 (7, 'ClosingForeignExchangeRate', 'INR/EUR', 78.5156, 89.6605),
 (7, 'ForeignCurrencyExchangeRateTranslation1', 'VEB/USD', 10.0, 10.0),
 (7, 'AverageForeignExchangeRate', 'ARS/EUR', 18.683, 103.043),
 (6, 'AnnualAverageForeignCurrencyExchangeRateTranslation', 'CNY/USD', 6.6187, 6.9072),
 (6, 'ClosingForeignExchangeRate', 'ZAR/USD', 14.08, 17.33),
 (6, 'AverageForeignExchangeRate', 'CRC/USD', 572.2, 590.9574),
 (6, 'ClosingForeignExchangeRate', 'Argentian_peso/EUR', 43.12, 103.16),
 (6, 'AverageForeignExchangeRate', 'JPY/EUR', 121.78, 130.41),
 (6, 'AverageForeignExchangeRate', 'CHF/USD', 1.01, 1.07),
 (6, 'ClosingForeignExchangeRate', 'CRC/USD', 572.56, 615.78),
 (6, 'AssetImpairmentRecoveryAssumptionsLongTermAverageExchangeRate', 'ZAR/USD', 13.57, 15.2),
 (6, 'DerivativeAverageForwardExchangeRate1', 'EUR/USD', 0.86, 1.1514),
 (6, 'AverageForeignExchangeRate', 'EUR/AUD', 1.47, 1.66),
 (6, 'ClosingForeignExchangeRate', 'CLP/CLF', 0.103, 0.117),
 (6, 'ClosingForeignExchangeRate', 'ARS/USD', 37.7, 84.15),
 (6, 'AverageForeignExchangeRate', 'ZAR/USD', 14.2, 16.46),
 (6, 'AverageForeignExchangeRate', 'AUD/EUR', 1.4794, 1.6554),
 (6, 'ClosingForeignExchangeRate', 'EUR/AUD', 1.53, 1.62),
 (6, 'ForeignCurrencyExchangeRateTranslation1', 'USD/ZAR', 11.83, 17.92),
 (6, 'ClosingForeignExchangeRate', 'CLP/ARS', 8.44, 32.96),
 (6, 'ClosingForeignExchangeRate', 'CHF/USD', 1.02, 1.14),
 (6, 'WeightedAverageExchangeRate', 'JPY/USD', 106.86, 112.16),
 (6, 'ClosingForeignExchangeRate', 'GTQ/USD', 7.3448, 7.8095),
 (6, 'ForeignCurrencyExchangeRateTranslation1', 'CAD/USD', 1.27, 1.36),
 (6, 'CeilingTestsBenchmarkExchangeRate', 'CAD/USD', 1.28, 1.34),
 (6, 'AverageForeignCurrencyExchangeRate', 'CAD/USD', 0.7308, 0.7609),
 (6, 'ClosingForeignExchangeRate', 'CLP/BRL', 136.8, 185.84),
 (6, 'AverageForeignExchangeRate', 'GTQ/USD', 7.3509, 7.7292),
 (5, 'ClosingForeignExchangeRate', 'USD/TWD', 27.86, 30.74),
 (5, 'AverageForeignExchangeRate', 'CAD/USD', 0.75, 0.772),
 (5, 'AverageForeignExchangeRate', 'USD/TWD', 28.02, 30.91),
 (5, 'ForeignCurrencyAverageExchangeRateTranslation', 'CNY/USD', 0.1426, 0.153),
 (4, 'ForeignCurrencyExchangeRateTranslation1', 'JPY/USD', 103.5, 111.0),
 (4, 'ClosingForeignExchangeRate', 'JPY/EUR', 121.94, 126.49),
 (4, 'ClosingForeignExchangeRate', 'RUB/KZT', 0.1622, 0.1806),
 (4, 'ClosingForeignExchangeRate', 'RUB/USD', 61.9057, 73.8757),
 (4, 'AverageForeignCurrencyExchangeRateTranslation', 'GBP/USD', 0.7509, 0.782),
 (4, 'AverageForeignExchangeRate', 'ZAR/EUR', 16.19, 18.38),
 (4, 'ClosingForeignExchangeRate', 'RUB/MDL', 3.5992, 4.2964),
 (4, 'ClosingForeignExchangeRate', 'RUB/BYR', 28.6018, 32.0732),
 (4, 'WeightedAverageExchangeRate', 'USD/CAD', 0.7608, 0.7809),
 (4, 'AverageForeignExchangeRate', 'RUB/EUR', 72.5021, 82.4481),
 (4, 'AverageForeignExchangeRate', 'RUB/KZT', 0.169, 0.1817),
 (4, 'ExchangeRatePerDollar', 'USD/Per_Unit', 49.3, 51.77),
 (4, 'AverageForeignExchangeRate', 'RUB/MDL', 3.6884, 4.1751),
 (4, 'AverageForeignExchangeRate', 'RUB/RON', 15.282, 17.0333),
 (4, 'ClosingForeignExchangeRate', 'CNY/USD', 6.525, 6.9618),
 (4, 'ClosingForeignExchangeRate', 'ZAR/EUR', 16.01, 19.46),
 (4, 'ClosingForeignExchangeRate', 'AUD/EUR', 1.5896, 1.622),
 (4, 'AverageForeignExchangeRate', 'RUB/BYR', 29.5855, 30.9653),
 (4, 'AverageForeignExchangeRate', 'RUB/USD', 62.7078, 72.1464),
 (4, 'ClosingForeignExchangeRate', 'RUB/EUR', 69.3406, 90.6824),
 (4, 'AverageForeignCurrencyExchangeRateTranslation', 'EUR/USD', 0.8472, 0.8943),
 (4, 'ClosingForeignExchangeRate', 'RUB/RON', 14.4948, 18.5809),
 (3, 'AverageForeignExchangeRate', 'AED/EUR', 4.0985, 4.2713),
 (3, 'ClosingForeignExchangeRate', 'EUR/INR', 76.6055, 80.187),
 (3, 'ForeignCurrencyExchangeRateRemeasurement1', 'USD/CNY', 6.5518, 7.0808),
 (3, 'AverageForeignExchangeRate', 'USD/CHF', 0.9391, 0.9938),
 (3, 'AverageForeignExchangeRate', 'EUR/INR', 73.5324, 79.3177),
 (3, 'AverageForeignExchangeRate', 'COP/USD', 2952.39, 3693.52),
 (3, 'AverageForeignExchangeRate', 'PEN/USD', 3.28, 3.5),
 (3, 'ForeignCurrencyAverageExchangeRate', 'CNY/USD', 0.0, 6.8985),
 (3, 'ForeignCurrencyExchangeRateTranslationAverage', 'HKD/USD', 0.1276, 0.1284),
 (3, 'ClosingForeignExchangeRate', 'USD/NOK', 8.5654, 8.8046),
 (3, 'ForeignCurrencyExchangeRateTranslation2', 'CNY/USD', 0.1436, 7.0808),
 (3, 'ClosingForeignExchangeRate', 'AED/EUR', 4.0795, 4.5045),
 (3, 'ForeignCurrencyExchangeRateTranslationAverage', 'CNY/USD', 0.142, 0.1538),
 (3, 'ForeignCurrencyAverageExchangeRateTranslation', 'USD/CNY', 0.1422, 0.1474),
 (3, 'AverageForeignExchangeRate', 'EUR/AED', 4.0985, 4.2713),
 (3, 'NationalBankForeignExchangeRate', 'ARS/USD', 37.7, 84.15),
 (3, 'AverageForeignExchangeRate', 'USD/SEK', 8.6784, 9.4533),
 (3, 'ClosingForeignExchangeRate', 'EUR/AED', 4.0795, 4.3874),
 (3, 'ClosingForeignExchangeRate', 'USD/CHF', 0.8829, 0.9976),
 (3, 'ForeignCurrencyExchangeRateRemeasurement1', 'USD/EUR', 1.1234, 1.2271),
 (3, 'ClosingForeignExchangeRate', 'USD/DKK', 6.057, 6.6698),
 (3, 'AverageForeignExchangeRate', 'USD/DKK', 6.2997, 6.669),
 (3, 'AverageForeignExchangeRateAssumption', 'PGK/USD', 3.17, 3.45),
 (3, 'AverageForeignExchangeRate', 'USD/NOK', 8.1289, 9.4206),
 (3, 'ClosingForeignExchangeRate', 'USD/SEK', 8.1885, 9.3282),
 (2, 'ExchangeRateOfBenchmarkPricesUsedInImpairmentTestAfterYearFive', 'USD/CAD', 0.77, 0.8),
 (2, 'ClosingForeignExchangeRate', 'PEN/USD', 3.32, 3.62),
 (2, 'ForeignCurrencyExchangeRateWeightedAverageTranslationRate2', 'CNY/USD', 0.1436, 0.1448),
 (2, 'ForeignCurrencyExchangeRateWeightedAverageTranslationRate', 'HKD/USD', 0.1276, 0.1289),
 (2, 'ClosingForeignExchangeRate', 'ves/USD', 7608.0, 68448.0),
 (2, 'ExchangeRateOfBenchmarkPricesUsedInImpairmentTestInYearFour', 'USD/CAD', 0.77, 0.8),
 (2, 'ForeignCurrencyExchangeRateTranslation1', 'MXN/USD', 18.86, 19.91),
 (2, 'ClosingForeignExchangeRate', 'AUD/USD', 0.7, 0.7),
 (2, 'ExchangeRateOfBenchmarkPricesUsedInImpairmentTestInYearFive', 'USD/CAD', 0.77, 0.8),
 (2, 'ForeignExchangeRateAppliedToImpairment', 'USD/CAD', 0.72, 0.72),
 (2, 'AverageForeignExchangeRate', 'AUD/USD', 0.7, 0.75),
 (2, 'ExchangeRateOfBenchmarkPricesUsedInImpairmentTestWithinOneYear', 'USD/CAD', 0.76, 0.77),
 (2, 'ForeignCurrencyExchangeRateTranslation1Average', 'CNY/USD', 0.1436, 0.1474),
 (2, 'ExchangeRateOfBenchmarkPricesUsedInImpairmentTestInYearThree', 'USD/CAD', 0.77, 0.8),
 (2, 'ForeignCurrencyExchangeRatesTranslation', 'CNY/USD', 6.525, 6.9618),
 (2, 'DerivativeAverageForwardExchangeRate1', 'CAD/USD', 1.372, 1.372),
 (2, 'AverageForeignExchangeRate', 'IDR/USD', 13882.5, 14050.0),
 (2, 'IncreaseDecreaseOfAverageForeignCurrencyExchangeRateTranslation', 'GBP/USD', 0.05, 0.05),
 (2, 'ClosingForeignExchangeRate', 'INR/USD', 68.31, 75.39),
 (2, 'DerivativeAverageForwardExchangeRate1', 'USD/CAD', 0.7289, 0.7483),
 (2, 'ChangesInForeignCurrencyTranslationExchangeRate', 'USD/GBP', 1.28, 1.28),
 (2, 'IncreaseDecreaseOfAverageForeignCurrencyExchangeRateTranslation', 'EUR/USD', 0.05, 0.05),
 (2, 'ForeignCurrencyExchangeRateTranslation1', 'SAR/USD', 3.75, 3.75),
 (2, 'ExchangeRateOfBenchmarkPricesUsedInImpairmentTestInYearTwo', 'USD/CAD', 0.77, 0.77),
 (2, 'ClosingForeignExchangeRate', 'COP/USD', 3277.14, 3432.5),
 (1, 'ForeignCurrencyExchangeRateTranslation1', 'USD/PLN', 0.27, 0.27),
 (1, 'AverageForeignExchangeRate', 'NOK/USD', 8.5, 8.5),
 (1, 'AverageForeignExchangeRate', 'USD/AUD', 1.457, 1.457),
 (1, 'ForeignCurrencyExchangeRateTranslation1', 'ARS/USD', 28.88, 28.88),
 (1, 'ExchangeRateBeginningOfCalendarYear', 'ZAR/USD', 14.0, 14.0),
 (1, 'EstimatedClosingForeignExchangeRateAfterFiveYears', 'USD/CAD', 1.25, 1.25),
 (1, 'ForeignCurrencyExchangeRateTranslation1', 'ZAR/USD', 14.9167, 14.9167),
 (1, 'AverageForeignExchangeRate', 'NOK/EUR', 10.0, 10.0),
 (1, 'ForeignExchangeRateForConvenienceOfTheReader', 'CNY/USD', 7.0851, 7.0851),
 (1, 'ExchangeRateMaximumReached', 'ZAR/USD', 19.05, 19.05),
 (1, 'EstimatedClosingForeignExchangeRateForTheFirstFiveYears', 'USD/CAD', 1.3, 1.3),
 (1, 'ForeignCurrencyExchangeRateTranslation1', 'USD/CHF', 1.0859, 1.0859),
 (1, 'CurrencyExchangeRate', 'USD/CAD', 1.31, 1.31),
 (1, 'ForeignCurrencyExchangeRateTranslation1', 'USD/HKD', 7.7534, 7.7534),
 (1, 'DerivativeAverageForwardExchangeRate1', 'GBP/USD', 0.81, 0.81)]

In [56]:
qres = engine.execute("""
select count (*), tag from sec_dera.num where tag like '%ExchangeRate%' and uom like '%/%' group by tag order by count (*) desc
""")
l = qres.fetchall()
display(l)

[(552, 'ClosingForeignExchangeRate'),
 (500, 'AverageForeignExchangeRate'),
 (300, 'ForeignCurrencyExchangeRateTranslation1'),
 (44, 'AverageForeignCurrencyExchangeRateTranslation'),
 (15, 'ForeignCurrencyExchangeRateRemeasurement1'),
 (15, 'ForeignCurrencyTranslationWeightedAverageExchangeRate'),
 (11, 'DerivativeAverageForwardExchangeRate1'),
 (10, 'WeightedAverageExchangeRate'),
 (8, 'ForeignCurrencyAverageExchangeRateTranslation'),
 (6, 'AnnualAverageForeignCurrencyExchangeRateTranslation'),
 (6, 'CeilingTestsBenchmarkExchangeRate'),
 (6, 'AssetImpairmentRecoveryAssumptionsLongTermAverageExchangeRate'),
 (6, 'ForeignCurrencyExchangeRateTranslationAverage'),
 (6, 'AverageForeignCurrencyExchangeRate'),
 (4, 'IncreaseDecreaseOfAverageForeignCurrencyExchangeRateTranslation'),
 (4, 'ExchangeRatePerDollar'),
 (3, 'AverageForeignExchangeRateAssumption'),
 (3, 'ForeignCurrencyAverageExchangeRate'),
 (3, 'ForeignCurrencyExchangeRateTranslation2'),
 (3, 'NationalBankForeignExchangeRate'),
 (2, 'ExchangeRateOfBenchmarkPricesUsedInImpairmentTestWithinOneYear'),
 (2, 'ExchangeRateOfBenchmarkPricesUsedInImpairmentTestInYearTwo'),
 (2, 'ForeignCurrencyExchangeRatesTranslation'),
 (2, 'ForeignCurrencyExchangeRateTranslation1Average'),
 (2, 'ForeignCurrencyExchangeRateWeightedAverageTranslationRate2'),
 (2, 'ExchangeRateOfBenchmarkPricesUsedInImpairmentTestInYearFive'),
 (2, 'ExchangeRateOfBenchmarkPricesUsedInImpairmentTestInYearFour'),
 (2, 'ForeignExchangeRateAppliedToImpairment'),
 (2, 'ExchangeRateOfBenchmarkPricesUsedInImpairmentTestAfterYearFive'),
 (2, 'ExchangeRateOfBenchmarkPricesUsedInImpairmentTestInYearThree'),
 (2, 'ChangesInForeignCurrencyTranslationExchangeRate'),
 (2, 'ForeignCurrencyExchangeRateWeightedAverageTranslationRate'),
 (1, 'EstimatedClosingForeignExchangeRateForTheFirstFiveYears'),
 (1, 'CurrencyExchangeRate'),
 (1, 'ForeignExchangeRateForConvenienceOfTheReader'),
 (1, 'ExchangeRateMaximumReached'),
 (1, 'EstimatedClosingForeignExchangeRateAfterFiveYears'),
 (1, 'ExchangeRateBeginningOfCalendarYear')]

In [74]:
qres = engine.execute("""
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value as assets, coalesce(FX_1.value,FX_2.value,FX_3.value) * N.value as assets_usd, coalesce(FX_1.tag,FX_2.tag,FX_3.tag)
from sec_dera.sub as S
     join sec_dera.assets_xyz_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.a_ddate=N.ddate and N.coreg is NULL and N.qtrs=0 and N.tag='Assets'
     left join sec_dera.num as FX_1 on N.adsh=FX_1.adsh and N.ddate=FX_1.ddate and FX_1.tag='AverageForeignExchangeRate' and (FX_1.uom like (N.uom || '/USD') or FX_1.uom like ('USD/' || N.uom))
     left join sec_dera.num as FX_2 on N.adsh=FX_2.adsh and N.ddate=FX_2.ddate and FX_2.tag='ClosingForeignExchangeRate' and (FX_2.uom like (N.uom || '/USD') or FX_2.uom like ('USD/' || N.uom))
     left join sec_dera.num as FX_3 on N.adsh=FX_3.adsh and N.ddate=FX_3.ddate and FX_3.tag='ForeignCurrencyExchangeRateTranslation1' and (FX_3.uom like (N.uom || '/USD') or FX_3.uom like ('USD/' || N.uom))
where coalesce(FX_1.value,FX_2.value,FX_3.value) IS NOT NULL
""")
l = qres.fetchall()

In [75]:
len(l)

100

In [76]:
l[0:20]

[('0001104659-20-117718', 1549107, 'MANCHESTER UNITED PLC', '213800CNW6K7XWOTB808', 7900, '2020-01-01 00:00:00.000', '2020-06-30 00:00:00.000', 'GBP', 1383466000.0, 1747732597.8000002, 'AverageForeignExchangeRate'),
 ('0001104659-20-042364', 1002242, 'ENI SPA', 'BUCRF72VH5RBN7X3VL35', 1311, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'EUR', 123440000000.0, 138252800000.0, 'AverageForeignExchangeRate'),
 ('0001193125-20-110807', 910631, 'COCA COLA FEMSA SAB DE CV', '5493008KEVFYPMGTXO33', 2086, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'MXN', 257839000000.0, 4862843540000.0, 'ClosingForeignExchangeRate'),
 ('0001104659-20-049056', 1677250, 'ZTO EXPRESS (CAYMAN) INC.', '549300SCJPK3YZJTJR78', 4210, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'CNY', 45890502000.0, 6589876087.2, 'ForeignCurrencyExchangeRateTranslation1'),
 ('0001047469-20-002522', 1757097, 'CENTOGENE N.V.', '52990098DNIHN4D98U15', 8071, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'EUR', 117510000.0, 131505441.0, 'AverageForeignExchangeRate'),
 ('0001104659-20-050552', 1616291, 'JUPAI HOLDINGS LTD', '54930070ZPRNE7EG4241', 8741, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'CNY', 1549746943.0, 10789028267.777401, 'ForeignCurrencyExchangeRateTranslation1'),
 ('0001104659-20-051198', 1661125, 'YINTECH INVESTMENT HOLDINGS LTD', '2549000O9PF76XE61Z89', 6200, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'CNY', 3665380000.0, 25517642484.0, 'ForeignCurrencyExchangeRateTranslation1'),
 ('0001558370-20-004504', 1786909, 'SIBANYE STILLWATER LTD', '378900F238434B74D281', 1040, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'ZAR', 101071800000.0, 1461498228000.0, 'AverageForeignExchangeRate'),
 ('0001104659-20-053889', 1779476, '36KR HOLDINGS INC.', None, 7389, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'CNY', 910815000.0, 6340911867.0, 'ForeignCurrencyExchangeRateTranslation1'),
 ('0001558370-20-005751', 1582581, 'VOXELJET AG', None, 3555, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'EUR', 62305000.0, 69750447.5, 'AverageForeignExchangeRate'),
 ('0001104659-20-060191', 1729173, 'UXIN LTD', '549300OV7Z440PI54J04', 7389, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'CNY', 5383096000.0, 37553554315.200005, 'ForeignCurrencyExchangeRateTranslation1'),
 ('0001104659-20-072395', 1633441, 'SECOO HOLDING LTD', '5493006YAK6ZHW3YPP89', 5990, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'CNY', 4997196000.0, 34789479112.8, 'ForeignCurrencyExchangeRateTranslation1'),
 ('0001104659-20-078436', 1758736, 'MOLECULAR DATA INC.', None, 7389, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'CNY', 492717000.0, 3430197210.6, 'ForeignCurrencyExchangeRateTranslation1'),
 ('0001047469-20-004692', 314590, 'SASOL LTD', '378900F4544561A97588', 1311, '2020-01-01 00:00:00.000', '2020-06-30 00:00:00.000', 'ZAR', 479162000000.0, 7518051780000.0, 'AverageForeignExchangeRate'),
 ('0001104659-21-023556', 1321851, 'ORIGIN AGRITECH LTD', '549300OF4O6676X0P611', 100, '2020-01-01 00:00:00.000', '2020-09-30 00:00:00.000', 'CNY', 254883000.0, 1735778718.3, 'ForeignCurrencyExchangeRateTranslation1'),
 ('0001104659-21-044721', 1793862, 'DADA NEXUS LTD', '655600D3KK4AC093RT71', 7370, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 'CNY', 9547026000.0, 62294344650.0, 'ForeignCurrencyExchangeRateTranslation1'),
 ('0001558370-21-003721', 1582581, 'VOXELJET AG', None, 3555, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 'EUR', 53227000.0, 60795879.400000006, 'AverageForeignExchangeRate'),
 ('0001666175-21-000007', 1666175, 'FORTIS INC.', '549300MQYQ9Y065XPR71', 4911, '2020-01-01 00:00:00.000', '2020-12-31 00:00:00.000', 'CAD', 55481000000.0, 70460870000.0, 'ForeignCurrencyExchangeRateTranslation1'),
 ('0001193125-20-035808', 1097362, 'SUN LIFE FINANCIAL INC', '549300V040JZX5S66Z78', 6311, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'CAD', 297202000000.0, 395278660000.0, 'AverageForeignExchangeRate'),
 ('0001558370-20-001124', 1126874, 'ENERPLUS CORP', '549300OEXJU0X6FYBQ42', 1311, '2019-01-01 00:00:00.000', '2019-12-31 00:00:00.000', 'CAD', 2565802000.0, 3332976798.0, 'ForeignCurrencyExchangeRateTranslation1')]

In [55]:
import pandas as pd

df = pd.read_sql("""
select S.adsh, S.cik, name, lei, sic, S.fy, N.ddate, N.uom, N.value as assets, FX.value * N.value as assets_usd, FX.*
from sec_dera.sub as S
     join sec_dera.assets_xyz_by_adsh_ddate as AD on S.adsh=AD.adsh
     join sec_dera.num as N on AD.adsh=N.adsh and AD.a_ddate=N.ddate
     join sec_dera.num as FX on N.adsh=FX.adsh and N.ddate=FX.ddate
where N.coreg is NULL
      and N.qtrs=0
      and N.tag='Assets'
      and FX.tag like '%ExchangeRate%'
      and (FX.uom like (N.uom || '/USD') or FX.uom like ('USD/' || N.uom))
""", engine, index_col=None)
df

,adsh,cik,name,lei,sic,fy,ddate,uom,assets,assets_usd,...,tag,version,coreg,ddate,qtrs,uom,value,footnote,srcdir,uuid
0,0001628280-20-015058,1023514,HARMONY GOLD MINING CO LTD,378900986D05F0C29811,1040,2020-01-01 00:00:00.000,2020-06-30 00:00:00.000,ZAR,4.469200e+10,7.740654e+11,...,ClosingForeignExchangeRate,ifrs/2019,None,2020-06-30 00:00:00.000,0,ZAR/USD,17.3200,None,2020q4,4d138708-45bb-4a34-a647-a67cb7a86c8c
1,0001104659-20-139121,1696355,BRIGHT SCHOLAR EDUCATION HOLDINGS LTD,30030029PAIA7JHF7N33,8200,2020-01-01 00:00:00.000,2020-08-31 00:00:00.000,CNY,1.082331e+10,7.411153e+10,...,ForeignCurrencyExchangeRateTranslation1,us-gaap/2020,None,2020-08-31 00:00:00.000,0,USD/CNY,6.8474,None,2020q4,4d138708-45bb-4a34-a647-a67cb7a86c8c
2,0001104659-20-140691,1722380,ONESMART INTERNATIONAL EDUCATION GROUP LTD,549300M48VYZESQCQV62,8200,2020-01-01 00:00:00.000,2020-08-31 00:00:00.000,CNY,7.898391e+09,5.408344e+10,...,ForeignCurrencyExchangeRateTranslation1,us-gaap/2020,None,2020-08-31 00:00:00.000,0,USD/CNY,6.8474,None,2020q4,4d138708-45bb-4a34-a647-a67cb7a86c8c
3,0001047469-20-000960,1333141,FRESENIUS MEDICAL CARE AG & CO. KGAA,549300CP8NY40UP89Q40,8090,2019-01-01 00:00:00.000,2019-12-31 00:00:00.000,EUR,3.293474e+10,2.931850e+10,...,ClosingForeignExchangeRate,ifrs/2019,None,2019-12-31 00:00:00.000,0,USD/EUR,0.8902,None,2020q1,4d138708-45bb-4a34-a647-a67cb7a86c8c
4,0001047469-20-000960,1333141,FRESENIUS MEDICAL CARE AG & CO. KGAA,549300CP8NY40UP89Q40,8090,2019-01-01 00:00:00.000,2019-12-31 00:00:00.000,EUR,3.293474e+10,2.942060e+10,...,AverageForeignExchangeRate,ifrs/2019,None,2019-12-31 00:00:00.000,4,USD/EUR,0.8933,None,2020q1,4d138708-45bb-4a34-a647-a67cb7a86c8c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,0001558370-20-005751,1582581,VOXELJET AG,None,3555,2019-01-01 00:00:00.000,2019-12-31 00:00:00.000,EUR,6.230500e+07,6.999344e+07,...,ClosingForeignExchangeRate,ifrs/2019,None,2019-12-31 00:00:00.000,0,USD/EUR,1.1234,None,2020q2,4d138708-45bb-4a34-a647-a67cb7a86c8c
135,0001558370-20-005751,1582581,VOXELJET AG,None,3555,2019-01-01 00:00:00.000,2019-12-31 00:00:00.000,EUR,6.230500e+07,6.975045e+07,...,AverageForeignExchangeRate,ifrs/2019,None,2019-12-31 00:00:00.000,4,USD/EUR,1.1195,None,2020q2,4d138708-45bb-4a34-a647-a67cb7a86c8c
136,0001104659-20-060191,1729173,UXIN LTD,549300OV7Z440PI54J04,7389,2019-01-01 00:00:00.000,2019-12-31 00:00:00.000,CNY,5.383096e+09,3.755355e+10,...,ForeignCurrencyExchangeRateTranslation1,us-gaap/2019,None,2019-12-31 00:00:00.000,0,CNY/USD,6.9762,None,2020q2,4d138708-45bb-4a34-a647-a67cb7a86c8c
137,0001104659-20-072395,1633441,SECOO HOLDING LTD,5493006YAK6ZHW3YPP89,5990,2019-01-01 00:00:00.000,2019-12-31 00:00:00.000,CNY,4.997196e+09,3.478948e+10,...,ForeignCurrencyExchangeRateTranslation1,us-gaap/2019,None,2019-12-31 00:00:00.000,0,CNY/USD,6.9618,None,2020q2,4d138708-45bb-4a34-a647-a67cb7a86c8c
138,0001104659-20-078436,1758736,MOLECULAR DATA INC.,None,7389,2019-01-01 00:00:00.000,2019-12-31 00:00:00.000,CNY,4.927170e+08,3.430197e+09,...,ForeignCurrencyExchangeRateTranslation1,us-gaap/2019,None,2019-12-31 00:00:00.000,0,CNY/USD,6.9618,None,2020q2,4d138708-45bb-4a34-a647-a67cb7a86c8c